<h2>Forex Converter</h2>
<form>
  <label for="fromCurrency">Source CCY:</label>
  <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency">
    <option id="fromCurrency" value="1.126735">USD</option>
    <option id="fromCurrency" value="0.876893">GBP</option>
    <option id="fromCurrency" value="79.677056">INR</option>
  </select>

  <label for="toCurrency">Target CCY:</label>
  <select id="toCurrency" name="toCurrency" [(ngModel)]="toCurrency">
    <option id="toCurrency" value="1.126735">USD</option>
    <option id="toCurrency" value="0.876893">GBP</option>
    <option id="toCurrency" value="79.677056">INR</option>
  </select>

  <label for="amount">Amount(Rs):</label>
  <input type="text" id="amount" name="amount" [(ngModel)]="amount">

  <button type="button" id="submitButton" (click)="convert()">Convert</button>
</form>

<div *ngIf="result" id="result">
  <div id="resValue" [innerHTML]="result | forexConverter: fromCurrency: toCurrency "></div>
</div>
